#exportPattern("^[^\\.]")

###exportPattern("^[[:alpha:]]+")
exportPattern("^[ABD-Za-z]")
# export( positivliste )
export(blocklist_comparison)
export(blocklist_plot)
export(blocklist_plot_xsize)
export(blocklist_size)
export(blocklist_size_spes)
export(blocklist_startend)
export(block_calculation)
export(block_dataset_construction)
export(block_matrix_construction)
export(block_plot)
export(block_windowdataset)
export(coverage_test)
export(dataset_filter)
export(block_ehh)
export(block_ihh)
export(indi_calc)
export(llength)
export(overlap_removal)
export(overlap_test)
export(plot_block)
export(uniquem)
export(which.block)
export(which.indi)
export(intersect_c)
export(fixcoding)
export(codeSNPs)
export(decodeSNPs)
export(colSumsEqualSNPs)
export(factorSNPs)

importFrom("graphics", "abline", "lines", "plot", "polygon")
importFrom("stats", "density", "median", "ksmooth")
importFrom("compiler", "enableJIT")
importFrom("grDevices", "adjustcolor")
importFrom("RandomFieldsUtils", "confirm")
useDynLib(HaploBlocker, .registration = TRUE, .fixes = "C_")
